brand-dark = #2c3e50
brand-neutral = #34495e
brand-web = #3498db
brand-aero = #d35400
brand-photo = #2ecc71
brand-light = #bdc3c7
brand-lighter = #ecf0f1

slide-padding = 2rem

jobs-highlight-duration = 0.3s
jobs-text-fade-duration = 0.2s
jobs-expand-duration = 0.5s
jobs-transition-duration = jobs-text-fade-duration + jobs-expand-duration
slide-fade-duration = 0.4s

project-hover-transition = all 0.7s ease

// Utility classes
// ---------------

p.lead
	font-size: 1.3rem
	font-weight: 300
	margin-bottom: 1rem
	
.box-shadow
	box-shadow: 0 0.3rem 0.5rem rgba(black, 0.2)

.text-shadow
	// Relative to font size
	text-shadow: 0 0.05em 0.1em rgba(black, 0.3)
	
.text-inset
	text-shadow: 0 1px 0 white
	
.text-inset-alt
	text-shadow: 0 -1px 0 rgba(black, 0.4)

.after-expand::after
	transition: all 0.5s linear !important
	transform-origin: center
	transform: scale(30)
	opacity: 0 !important
	border-radius: 50%
	background-color: brand-web

.click-through
	pointer-events: none;

// Mixins
// ------

job-color(prop)
	&.web
		{prop}: brand-web
		
	&.aero
		{prop}: brand-aero
		
	&.photo
		{prop}: brand-photo

// Reset
// -----

*
	margin: 0
	padding: 0
	
	// Include border and padding within box sizes
	box-sizing: border-box
	
a	
	// Reset
	color: inherit
	text-decoration: none
	
// Root styles
// -----------

:root
	// Default is 16px
	
	font-size: 18px

	// Handheld devices
	@media screen and (max-width: 600px)
		font-size: 22px

html, body
	height: 100%
	scroll-behaviour: smooth

body
	font-family: 'Nunito', sans-serif
	background-color: brand-dark
	color: brand-lighter
	
	// Centre slide container
	display: flex
	justify-content: center

// Spinner
// -------

// From https://loading.io/css/

spinner-size = 180px;
spinner-weight = 20px;

.lds-dual-ring {
	width: spinner-size;
	height: spinner-size;
	
	display: flex
	justify-content: center
	align-items: center
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: spinner-size - spinner-weight * 2;
	height: spinner-size - spinner-weight * 2;
	border-radius: 50%;
	border: spinner-weight solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// Loader
// ------

.loader
	@extend .text-shadow

	// Cover screen
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	
	// Internal layout
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	
	// Style
	background-color: brand-dark
	
	// Overlay
	pointer-events: none
	z-index: 100
	
	// Fade out
	transition: all 0.7s ease
	&.loaded
		opacity: 0
		
	// JS warning
	&::after
		content: 'Please check you are using a modern browser and have JavaScript enabled'
		width: 15rem
		text-align: center
		margin-top: 2rem
		
		// Show after load should have completed
		animation: delayed-fade-in 3s ease;
		
@keyframes delayed-fade-in
	0%
		opacity: 0
		margin-top: -4rem
	80%
		opacity: 0
		margin-top: -4rem
	100%
		opacity: 1
		margin-top: 2rem
	
// Common block components
// -----------------------

.panel
	@extend .text-shadow, .box-shadow

	background-color: white
	background-position: center
	background-size: cover
	padding: 1rem
	border-radius: 0.5rem
	display: block
	background-color: white
	background-size: cover
	
.bg-overlay
	position: relative

	// Background overlay
	&::after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-color: rgba(black, 0.35)
		background: linear-gradient(to right, rgba(black, 0.8), rgba(black, 0));
		border-radius: inherit
		z-index: 1
		
		opacity: 0
		transition: project-hover-transition
		
	*
		// Move content above background overlay
		position: relative
		z-index: 2
		

.bg-overlay-activate
	&::after
		opacity: 1
		

.tag
	padding: 0.2rem 0.5rem
	background-color: rgba(black, 0.3)
	border-radius: 0.3rem
	

// [TODO] Combine with .block??
.masonry
	margin-top: 1.5rem

	columns: 6 200px
	column-gap: 0.7rem
	max-width: calc(100% + 5px)
	margin-left: -5px
		
	> a
		display: block
		flex: 1 1 auto
		margin-bottom: 0.4rem
		
		img
			width: 100%
			border-radius: 0.4rem
			box-shadow: 0 1px 0.6rem rgba(black, 0.3)
			background-color: white
			padding: 0.3rem
			
// Slides
// ------

#slide-container
	max-width: 800px
	
	display: block
	flex-grow: 1

	// Root for slide positioning
	position: relative
	
.slide
	background-color: brand-neutral
	job-color(background-color)

	// Stack slides
	z-index: 1
	position: absolute
	top: 0
	left: 0
	right: 0

	// Sticky footer wrapper
	min-height: 100%
	display: grid
	grid-template-rows: auto
	
	// Hide by default
	opacity: 0
	
	// Transition (fade out)
	// ease in and delay to improve seamlessness
	transition: opacity slide-fade-duration ease

	> article
		@extend .text-shadow

		padding: slide-padding
		background-color: inherit
		
		h1
			font-size: 2em

		h2
			opacity: 0.6
			
		ul.skills
			margin: 1rem 0
			list-style: none
			
			li
				display: inline-block
				margin-right: 1rem
				margin-bottom: 0.15rem
				
		.socials
			margin-top: 1rem

			> a
				display: inline-block
				font-size: 1.5rem
				padding: 0.5rem 0.9rem
				background-color: rgba(black, 0.15)
				margin-bottom: 0.5rem
				margin-right: 0.5rem
				border-radius: 0.5rem

				overflow: hidden
				text-shadow: none
					
				// Stop text from wrapping
				white-space: nowrap

				*
					vertical-align: middle

					// Match font sizes of icon and text
					font-size: inherit
					
				span
					transition: max-width 0.3s ease
					display: inline-block
						
					// Adjust for text gap around invisble span
					margin-left: -6px
					
					// Hide
					max-width: 0
					opacity: 0
				
				transition: project-hover-transition
				&:hover, &.touch-hover	
					@extend .text-inset

					background-color: brand-lighter
					color: brand-dark
					
					span
						opacity: 1
						
						// Extra gap after icon
						margin-left: 0.3rem
						
						// Accomodate maximum possible width
						max-width: 150px
						
	
	> footer
		// Display above slide
		z-index: 10

		// Padding added by children
		padding: 0
		
.slide a.close-button
	opacity: 0.5
	font-size: 2.5em
	
	position: absolute
	top: slide-padding
	right: slide-padding
	
	display: block
	vertical-align: top
	
	&:hover
		opacity: 0.7
		
	&:active
		opacity: 0.9
		
.slide.active, .slide#landing
	// Transition (fade in) with delay
	transition-delay: jobs-transition-duration

	// Show
	opacity: 1
	
.slide#landing
	z-index: 0
	
	grid-template-rows: 1fr auto

// Jobs Footer
// -----------

#jobs > a
	@extend .text-inset-alt

	display: block

	color: brand-lighter
	font-size: 1.5rem
	font-weight: bold
	text-align: left
	
	padding: 2rem slide-padding

	// Specific color
	job-color(background-color)
	
	// Transitions
	// not starting expanstion until text is faded out to avoid text stretching
	transition: padding jobs-highlight-duration ease-out,
				color jobs-text-fade-duration,
				transform jobs-expand-duration jobs-text-fade-duration

	// Hover effect
	&:hover
		padding-left: slide-padding + 1rem
		
	// Selected effect
	&.selected
		// Invisible text
		job-color(color)
		text-shadow: none
		
		// Scale up without affecting layout
		transform: scaleY(15)
		
// Projects
// --------

ul.projects
	list-style: none
	margin: 1rem 0
	
	> li
		@extend .panel, .bg-overlay
		
		display: flex
		flex-direction: column
		align-items: flex-start
		align-content: flex-start
		
		margin-bottom: 1rem

		position: relative

		cursor: pointer
		
		// Apply to both heading and pseudo-element
		> h3, h3::after {
			transition: all 0.2s ease
		}
		
		> h3
			position: relative
			transform: translateX(-50%) scale(2)
			transform-origin: top
			left: 50%
			font-size: 2em
			
			// Compress text when wrapping lines (and compensate for lost margin)
			line-height: 1
			margin-bottom: 0.2rem
			
			max-width: 70%
			
			@media screen and (max-width: 600px)
				// Disable (right align) 
				transform: scale(1.4)
				top: 1.5rem !important
				left: 0
				transform-origin: top left
				
		> h3::after
			content '\f35d'
			font-family: 'Font Awesome 5 Free'
			opacity: 0
			font-size: 0.7em
			vertical-align: 10%
			
			// Stop adding to block size when hidden
			display: inline-block
			width: 0

		h4
			margin-bottom: 0.6rem
			// opacity: 0.8
		
		ul
			margin-top: 0.4rem
			list-style: none
			
			> li
				@extend .tag
				display: inline-block
				margin-right: 0.3rem
				margin-top: 0.5rem
	
		> div
			transition: all 0.3s ease
			opacity: 0
			
			@media screen and (min-width: 600px)
				max-width: 70%

		&:hover, &.touch-hover
			@extend .bg-overlay-activate

			> h3
				// Reset to standard position and size
				transform: translateX(0) scale(1)
				left: 0
				top: 0 !important
				margin-left: 0
				
			> h3::after
				opacity: 0.5
				margin-left: 1rem

			> div
				opacity: 1

// External
// --------
body#external
	@extend .text-shadow

	padding: 2rem
	display: flex
	flex-direction: column
	
	h2
		font-size: 1rem
		color: rgba(white, 0.5)

iframe#portal
	border: none
	border-radius: 0.5rem
	flex-grow: 1
	width: 100%
	margin-top: 1rem
	box-shadow: 0 0.2rem 0.5rem rgba(black, 0.5)